@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
  }
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x:hidden ;
    overflow-y: auto;
    perspective: 10px;
  
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform:translateZ(-40px)  scale(6) ;
}

.foreground{
    transform: translate(-20px) scale(1);
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; 
}
h1{
    position: absolute;
    top: 10rem;
    letter-spacing: 20px;
    font-size: 9rem;
    color: rgb(253, 250, 250);
    text-shadow: 0 0 10px black rgba(0,0,0,3);
}

section{
    background-color:black;
    color: white;
    padding: 0;
}
.secheading{
    font-size: 5rem;
    padding: 1rem;

}
.text{
    font-size: 1.5rem;
    padding-top: 10 0rem;
    margin-top:  0 10rem;
    height: 200px;
}
.bg{
    position:relative;
    width: 100%;
    background-attachment:fixed ;
    background-position:center;
    background-size: cover;
    height: 400px;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 60%;
    transform: translateX(-50%) translateX(-50%) ;
    color: rgb(39, 4, 4);
    font-size: 3.5rem;
    font-weight: 500;
}

.bg1{
    /* image past with the help of css*/
    background-image:url(sport-1.jpg) ;
}

.bg2{
    background-image:url(sport-2.jpg) ;
}

.bg3{
    background-image:url(sport-3.jpg) ;
}
